.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}

.container--home {
  margin: 80px auto 180px auto;
}

.container--menu {
  width: 900px;
  margin: 32px auto 0;
}

.container--main {
  margin: 80px auto;
}