* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}
body {
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(221, 225, 231, 0.3);
}
body, input, button {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}
h2 > strong {
  font-weight: 800;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.is-bold {
  font-weight: 700;
}
.is-pointer {
  cursor: pointer
}
.form {
  display: contents;
}