.content {
  display: flex;
  width: 100%;
}

.content--flex-column {
  flex-direction: column;
}

.content__title {
  font-size: 32px;
  margin-bottom: 24px;
}

.content__half {
  width: 50%;
  padding: 0 8px;
  overflow-y: auto;
}

.content__half--p-top {
  padding-top: 16px;
}

.content__item {
  margin-bottom: 32px;
  width: 100%;
}

.content__item--no-margin {
  margin-bottom: 0;
}

.content__item span {
  display: block;
  color: #757575;
  margin-bottom: 8px;
}

/* SCHEDULE */

.content__header {
  display: flex;
  justify-content: space-between;
  padding-right: 86px;
  padding-left: 16px;
  color: #757575;
  font-size: 20px;
  font-weight: 800;
}

.content__bottom {
  width: 100%;
}

/* ASSEMBLY */

.content__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 8px;
}

.content__date {
  width: 20%;
}

.content__textarea {
  width: 100%;
  min-height: 170px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #1a1a1a;
  border-radius: 8px;
  resize: vertical;
  outline: none;
}

/* MESSAGES */

.content__messages {
  height: 100%;
  max-height: 400px;
  border-radius: 8px;
  border: 2px solid #1a1a1a;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  min-width: 10%;
  border-right: 2px solid #1a1a1a;
  overflow: auto;
}

.contacts__item {
  padding: 4px 8px;
  cursor: pointer;
  color: #757575;
}

.contacts__item:hover {
  background: #004DB0;
  color: #FFFFFF;
}

.contacts__item:nth-child(6) {
  background: #004DB0;
  color: #FFFFFF;
}

.contacts__name {
  display: block;
  padding-left: 4px;
  font-weight: 700;
}

.contacts__name strong {
  font-size: 12px;
}

.contacts__name--is-user {
  color: #004DB0;
}

.message__display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.message__line {
  padding: 2px;
}

.message__area {
  height: 36px;
  padding: 6px;
  resize: none;
  font-size: 16px;
}

.message__text {
  padding-left: 8px;
}