.content {
  display: flex;
  width: 100%;
}

.content--flex-column {
  flex-direction: column;
}

.content__title {
  font-size: 32px;
  margin-bottom: 24px;
}

.content__title {
  font-size: 32px;
  margin-bottom: 24px;
}

.content__half {
  width: 50%;
  padding: 0 8px;
  overflow-y: auto;
}

.content__item {
  margin-bottom: 32px;
  width: 100%;
}

.content__item span {
  display: block;
  color: #757575;
  margin-bottom: 8px;
}

/* SCHEDULE */

.content__header {
  display: flex;
  justify-content: space-between;
  padding-right: 86px;
  padding-left: 16px;
  color: #757575;
  font-size: 20px;
  font-weight: 800;
}

.content__bottom {
  width: 100%;
}