
.tab-menu {
  display: flex;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  background-color: #f1f1f1;
  border: 1px solid #cccccc;
}

.tab-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  padding: 8px 16px;
  outline: none;
  cursor: pointer;
}

.tab-menu__item:hover {
  opacity: 0.6;
}

.tab-menu__image {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  stroke-width: 3px;
}

.tab-active {
  border-bottom: none;
  background-color: #004DB0;
  color: #ffffff;
  font-weight: 800;
}

.tab-active svg {
  fill: #ffffff;
}