.footer {
  width: 100%;
  padding: 28px;
  background-color: #F9BA48;
}

.footer-left a {
  color: #ffffff;
  margin-right: 24px;
  font-size: 18px;
  font-weight: 700;
}

.footer-right-icon {
  margin-left: 42px;
}

